.container{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -100%);
    
}

form{		
        color: grey;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -100%);
        width: 50%;

        
}
form div{
	padding: 10px;
	margin-left: 200px;	
}
h1{
	color: #333300;
	margin-left: 200px;	
}
.btn{
	margin-left: 200px;	
}
.ifContainer{
	margin-left: 190px;
}
